.tab {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent white;
}

.tab button {
    background-color: inherit;
    font-family: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    padding: 20px 20px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #cccccc;
}

/* Create an active/current tablink class */
.tab button.active {
    background: url("./e.png");
    justify-content: center;
}

.tabcontent {
    font-size: 15px;
    padding: 6px 12px;
    border-bottom: 1px solid #cccccc;
    border-top: none;
    text-align: center;
    height: 620px;
}

footer {
    background-color: #cccccc;
    position: absolute;
    height: 50px;
    width: 1400px;
}