body {
    padding: 10px;
}

.form {
    font-size: 20px;
    text-align: justify;
}

.html {
    background-color: black;
}

.ans {
    left: 300px;
}

input[type=text] {
    position: fixed;
    padding: 2px 5px;
    background-color: cornsilk;
    margin: 5px;
    border: 2px;
    left: 100px;
}

input[type=submit] {
    width: 100%;
    box-sizing: border-box;
    color: white;
    background-color: cadetblue;
    padding: 10px 200px;
}